@import "./normalize.scss";

html:not([data-lt-script-installed]):not(.__lt-dummy-1):not(.__lt-dummy-2):not(.__lt-dummy-3):not(.__lt-dummy-4):not(.__lt-dummy-5):not(.__lt-dummy-6) {
  // display: none;
}

body{
  // font-family: 'Noto Sans Mono', monospace;
  font-family: 'Mukta', sans-serif;
  min-height: 100vh;
  background: #d8dcfd;
}

a, span{
  font-family: 'Mukta', sans-serif;
}

svg.gold-svg{
  filter: invert(80%) sepia(76%) saturate(489%) hue-rotate(3deg) brightness(90%) contrast(103%);
}
svg.black-svg{
  filter: invert(80%) sepia(76%) saturate(489%) hue-rotate(3deg) brightness(90%) contrast(103%);
}
svg.red-svg{
  filter: invert(80%) sepia(76%) saturate(489%) hue-rotate(3deg) brightness(90%) contrast(103%);
}

li,a{
  text-decoration: none;
  list-style: none;
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-flex{
  display: flex;
  flex-direction: column;
}

.logo{
  width: 4em;
}

.m-0{
  margin: 0!important;
}

.ml-15{
  margin-left: 15px;
}
.ml-30{
  margin-left: 30px;
}
.mr-15{
  margin-right: 15px;
}
.mr-30{
  margin-right: 30px;
}
.mt-15{
  margin-top: 15px;
}
.mt-30{
  margin-top: 30px;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-30{
  margin-bottom: 30px;
}

.pd-1{
  padding: 1rem;
}

.button{
  padding: 1em 1.6em;
  border: none;
  border-radius: 8px;
  color: #24292e;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}

.link-button{
  padding: 0.5em 1.3em;
  font-weight: 600;
  &:hover, &:focus{
    background: none;
    color: none;
    box-shadow: none;
  }
}

.bt-red{
  background: #e35151;
  color: #f8f7fa;
}

.bt-white{
  background: #f8f7fa;
  color: #3e3d40;

  &:hover, &:focus{
    background: #3e3d40;
    color: #f8f7fa;
    box-shadow: 1px 1px 6px #f8f7fa;
  }
}

.max-bt{
  width: 100%;
  height: 100%;
}