@import "./variables";

.dashboard{
  background: #1b1a1f;
  color: $text-white;
  flex-wrap: wrap;
  height: 100%;
  max-width: 1200px;
  
  @media (min-width: 1000px) {
    margin: auto;
    box-shadow: 2px 2px 8px $main-black;
  }

  .dashboard-header{
    width: 100%;
    padding: 0.5rem;
    text-align: start;
    section{
      width: fit-content;
    }
  }

  svg{
    font-size: 1.5rem;
  }

  main{
    padding: 0.5rem;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    div{
      @media (min-width: 1000px) {
        max-width: 40%;
      }
    }
  }
}

.dashboard-header article{
  justify-content: space-between;
  .title{
    h2{
      font-size: 2rem;
    }
    span{
      margin-top: -10%;
      color: #f8f7fa5e;
    }
  }
}

main .movie-info{
  justify-content: space-around;
  a{
    width:80%;
  }
}

main .dashboard-poster{
  position: relative;
  width: 100%;
  max-width: 500px;

  img{
    max-width: 100%;
    max-height: 500px;
  }

  section{
    width: 100%;
    justify-content: space-around;

    position: absolute;
    bottom: 3%;
  }
}