.home{

  flex-direction: column;

  h2{
    font-weight: 600;
  }
  h4{
    span{
      color: #E50914;
    }
  }
}

.home main{
  ul{
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
  }
  li{
    padding: 0 1.5rem;
    margin: 1rem 0;
  }
  .register-movie{
    width: 100%;
    margin: 1rem auto auto auto;
    border-radius: 0;
  }
}